.wrapper{
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    display: block;
    clear: both;
}
.Tasks{
    float: left;
    margin:2%;
    padding: 1%;
    width: 29%;
    border: 2px solid plum;
    background: lightblue;
    width: 334px;
    height: 150px;
    text-align: center;
    position: relative;
}
.Tasks:nth-child(1){
    top: 50px;
}
.Tasks:nth-child(3){
    top: 50px;
}

.content{
    margin: 20px 1%; 
    padding: 10px;
    clear: left;
    background: #fff;

}
section, aside{
    float: left;
    width: 45%;
    padding: 1%;
    margin: 1%;
    background: #f2f2f2;
    border: 1px solid #f2f2;
}
.content p {
    -webkit-column-count: 3;
    -column-count: 3;
    -webkit-column-rule: 2px solid #f2f2;
    -column-rule: solid #f2f2;
    -webkit-column-gap: 50px;
    text-align: justify;
}